*{ margin-block-start: 0; margin-block-end: 0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
    margin:0;
    padding:0;
}
.margin-left-important{
    margin-left: -15px !important;
}
.background-moon-color{
    background-color: #1e3932;
    color: #fff;
}
.bg-black{
    background-color: #000;
}
.wrapper{
    width: 100%;
    position: relative;
}
.cardbox{
    position: fixed;
    top: 100px;
    right: 20px;
    width: 26%;
}
.cardbox img{
    max-width: 100%;
}
.radius-white-line{
    width: 30px;
    height: 30px;
    display: flex;
    float: right;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    right: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
a.radius-white-line {
    color :#fff;
    text-decoration: none;
}
a.radius-white-line>.material-icons{
    color: #fff;
}
a.radius-white-line:hover>.material-icons{
    color: #eee;
}
/** section rewards**/
section.rewards p{
    margin-bottom: 0;
}
/** 네비게이션 **/
.nav-bg{
   background:#e5e5e5;
   padding-top:5px;
   border-top:2px solid #333;
   position:fixed;
   z-index:100;
   top:0;
   left:0;
   width:100%;
   position:relative;
}
.nav-bg .row {
    padding-top:8px;
    padding-bottom:15px;
}
.logo{
    width:80%;
}
.topnavbox{
    display:flex;
}
.gnb, .topnav{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:100%;
}
.topnav li:not(:last-child)::after{
    content:"";
    display:inline-block;
    height:10px;
    width:1px;
    background:#999;
}
.navin a{
    white-space: nowrap;
    color:#333;
    font-family:'Avenir Next LT Pro', sans-serif;
}
.topnav a{
    width:calc(100% - 1px);
    display:inline-block;
    padding:0 15px;
    font-size:13px;
    color:#333;
    font-weight:300;
}

.input-search {
    width:0;
    border:none;
    outline: none;
    background:transparent;
    transition:all .25s;
}
.searchForm{
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.searchForm.act {
    border:1px solid #999;
    background:#fff;
    border-radius:8px;
    padding:5px 10px;
    position:relative;
}
.input-search.act{
    width:150px;
}
.input-search::placeholder{
    font-size:13px;
    color:#999;
}
a.search-btn{
    background:#fff;
    border:1px solid #999;
    border-radius:5px;
    padding:1px 5px;
    color:#333;
}
.searchForm.act a.search-btn{
    border:none;
    padding:0;
    position:absolute;
    right:5px;
}
a.search-btn span.material-icons{
    font-size:28px;
}
.gnb {
    margin-top:10px;
}
.gnb li{
    text-align:center;
}
.gnb li:hover{
    background:#333;
}
.gnb li:hover a{
    color:#14a86b;
}
.gnb>li>a{
    display:inline-block;
    font-weight:300;
    padding:15px 15px 30px;
}
div.lnb{
    position:absolute;
    width:100%;
    padding: 20px 0;
    left:0;
    top:123px;
    background:#333;
    display:none;
    z-index:10;
}
.lnb ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-wrap: wrap;
}
.lnb li{
    width:20%;
}
.gnb li:hover .lnb a{
    display:block;
    color:#fff;
    font-size:13px;
    line-height:30px;
    text-align:left;
}
.lnb a.lnb-title{
    font-weight:700;
    font-size:14px;
    margin:30px;
    line-height:1.2;
    text-align:left;
}
.lnb a:last-child {
    margin-bottom:40px;
}
.navin{
    display:none;
}
.mobile{
    display:block;
}
.btn-box{
    display:flex;
    justify-content: flex-end;
}
a>.material-icons {
    color:#333;
}
a:hover>.material-icons {
    color:#000;
}
.material-icons.menu{
    cursor:pointer;
}
.fadeblack {
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left:0;
    display:none;
    transform: translateX(-100%);
    left: 100%;
}
.mobile-nav-box{
    background:#000;
    height:100%;
    margin:0;
    padding:0;
    margin-left:30%;
    position:relative;
    list-style-type:none;
    overflow-y: scroll;
}
.mobile-nav-box li{
    border-bottom:1px solid #333;
    padding:20px;
}
.mobile-nav-box li.grayblack{
    background:#333;
    border-bottom:1px solid #000;  
}
.mobileSearchForm{
    padding-top: 20px;
    padding-bottom:20px;
}
.mobile-nav-box li a{
    display:flex;
    width:100%;
    height:40px;
    font-size:18px;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav-box li a{
    text-decoration:none;
}
.mobile-nav-box li a:hover span{
    text-decoration:underline;
}

.mobile .material-icons{
    font-size:40px;
    margin-right:15px;
}
a.xclose{
    position:absolute;
    top:30px;
    left: 80px;
    z-index:150;
}

a.xclose span.material-icons {
    font-size:50px;
    color:#fff;
    transition: transform 1s;
    transition: -webkit-transform 1s;
}
a.xclose:hover span.material-icons {
    transform:rotate(180deg);
}
ul.mobile-lnb{
    list-style:none;
    padding:0px;
    margin:0;
    margin:15px -20px -20px;
    background:#222;
    display:none;

}
ul.mobile-lnb li{
    padding-left:40px;
}

/** main banner **/
.mainbanner{
    height: 1350px;
    background: url(../images/1_main_bg.jpg) no-repeat center;
    background-size: cover;
}

.mainbanner>.container{
    padding-top:50px;
    flex-wrap: nowrap;
}
.mainbanner .col-3{
    height: 80vh;
}
.punch{
    position: absolute;
    text-align: center;
    width: 65%;
    top: -450px;
    left: 0;
}
.coldbrew{
    position: absolute;
    text-align: center;
    width: 65%;
    top: -150px;
    left: 150px;
}
.greentea{
    position: absolute;
    text-align: center;
    width: 65%;
    top: 200px;
    left: 0;
}
.more{
    position: absolute;
    top: 630px;
    left: 300px;
}
.cont img{
    margin-bottom: 30px;
    max-width: 100%;
}
.main-text{
    width: 55%;
}
@media screen and (min-width: 1000px) {
    .navin {
        width:70%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;  
     }
     .mobile {
         display:none;
     }
     .cardbox{
         position: fixed;
         top: 140px;
         left : calc(50% + 620px);
         z-index: 9999;
     }
     .nav-bg .row {
        padding-top:0px;
        padding-bottom:0px;
    }
    .logo{
        width:100%;
    }

    .mainbanner{
        height: 646px;
        background: url(../design/2022_Summer1_main_bg.jpg) no-repeat center;
        background-size: cover;
    }
    .mainbanner .col-3{
        height: 646px;
    }
    .punch{
        position:static;
        display: block;
        text-align: center;
        margin-top: 150px;
        margin-left: -100px;
    }
    .coldbrew{
        position:static;
        margin-left: -200px;

    }
    .greentea{
        position:static;
        margin-bottom: -100px;
        margin-left: 50px;

    }

}